/*SCSS PRINCIPAL QUE CONECTA CON MAIN.css */
/*........Reseteo---------*/
/*........FIN Reseteo---------*/
/*Me permite animar el filtro para que se expanda y se contraiga*/
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

* {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }
  *:before {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit; }
  *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit; }

.bodyI {
  background: linear-gradient(15deg, #212121, #1d0844);
  background-repeat: repeat; }

.SectionLoader {
  position: fixed;
  background: white;
  z-index: 1000;
  background: white;
  z-index: 1000;
  width: 100%;
  height: 100%;
  display: block;
  align-self: center;
  width: 100%;
  height: 100%; }

.loader {
  --background: linear-gradient(135deg, #23C4F8, #275EFE);
  --shadow: rgba(39, 94, 254, 0.28);
  --text: #6C7486;
  --page: rgba(255, 255, 255, 0.36);
  --page-fold: rgba(255, 255, 255, 0.52);
  --duration: 3s;
  width: 200px;
  height: 140px;
  position: relative;
  top: 40%;
  left: 40%; }

.loader:before, .loader:after {
  --r: -6deg;
  content: "";
  position: absolute;
  bottom: 8px;
  width: 120px;
  top: 80%;
  -webkit-box-shadow: 0 16px 12px var(--shadow);
  box-shadow: 0 16px 12px var(--shadow);
  -webkit-transform: rotate(var(--r));
  -ms-transform: rotate(var(--r));
  transform: rotate(var(--r)); }

.loader:before {
  left: 4px; }

.loader:after {
  --r: 6deg;
  right: 4px; }

.loader div {
  width: 100%;
  height: 100%;
  border-radius: 13px;
  position: relative;
  z-index: 1;
  -webkit-perspective: 600px;
  perspective: 600px;
  -webkit-box-shadow: 0 4px 6px var(--shadow);
  box-shadow: 0 4px 6px var(--shadow);
  background-image: var(--background); }

.loader div ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative; }

.loader div ul li {
  --r: 180deg;
  --o: 0;
  --c: var(--page);
  position: absolute;
  top: 10px;
  left: 10px;
  -webkit-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  color: var(--c);
  opacity: var(--o);
  -webkit-transform: rotateY(var(--r));
  transform: rotateY(var(--r));
  -webkit-animation: var(--duration) ease infinite;
  animation: var(--duration) ease infinite; }

.loader div ul li:nth-child(2) {
  --c: var(--page-fold);
  -webkit-animation-name: page-2;
  animation-name: page-2; }

.loader div ul li:nth-child(3) {
  --c: var(--page-fold);
  -webkit-animation-name: page-3;
  animation-name: page-3; }

.loader div ul li:nth-child(4) {
  --c: var(--page-fold);
  -webkit-animation-name: page-4;
  animation-name: page-4; }

.loader div ul li:nth-child(5) {
  --c: var(--page-fold);
  -webkit-animation-name: page-5;
  animation-name: page-5; }

.loader div ul li svg {
  width: 90px;
  height: 120px;
  display: block; }

.loader div ul li:first-child {
  --r: 0deg;
  --o: 1; }

.loader div ul li:last-child {
  --o: 1; }

.loader span {
  display: block;
  left: 0;
  right: 0;
  top: 100%;
  margin-top: 20px;
  text-align: center;
  color: var(--text); }

@-webkit-keyframes page-2 {
  0% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    opacity: 0; }
  20% {
    opacity: 1; }
  35%, 100% {
    opacity: 0; }
  50%, 100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg); } }

@keyframes page-2 {
  0% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    opacity: 0; }
  20% {
    opacity: 1; }
  35%, 100% {
    opacity: 0; }
  50%, 100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg); } }

@-webkit-keyframes page-3 {
  15% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    opacity: 0; }
  35% {
    opacity: 1; }
  50%, 100% {
    opacity: 0; }
  65%, 100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg); } }

@keyframes page-3 {
  15% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    opacity: 0; }
  35% {
    opacity: 1; }
  50%, 100% {
    opacity: 0; }
  65%, 100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg); } }

@-webkit-keyframes page-4 {
  30% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    opacity: 0; }
  50% {
    opacity: 1; }
  65%, 100% {
    opacity: 0; }
  80%, 100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg); } }

@keyframes page-4 {
  30% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    opacity: 0; }
  50% {
    opacity: 1; }
  65%, 100% {
    opacity: 0; }
  80%, 100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg); } }

@-webkit-keyframes page-5 {
  45% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    opacity: 0; }
  65% {
    opacity: 1; }
  80%, 100% {
    opacity: 0; }
  95%, 100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg); } }

@keyframes page-5 {
  45% {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    opacity: 0; }
  65% {
    opacity: 1; }
  80%, 100% {
    opacity: 0; }
  95%, 100% {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg); } }

/*-----------SPINER---------------*/
.contentSpinner {
  position: absolute;
  top: 63%;
  left: 41%;
  text-align: center; }

.spinner {
  box-shadow: 0 0 0 3px #003cb2a1, inset 0 0 0 1px #0090f1;
  position: relative;
  margin-bottom: 5px;
  height: 12px;
  width: 160px;
  border-radius: 8px;
  overflow: hidden;
  animation: rotate_5132 6s linear infinite; }

.spinner:before {
  display: block;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background: linear-gradient(45deg, #18aeff, #073a89b0);
  animation: load_5123 6s linear infinite; }

@keyframes rotate_5132 {
  0%,
  42% {
    transform: rotate(0deg); }
  48%,
  92% {
    transform: rotate(180deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes load_5123 {
  0% {
    width: 0; }
  40%,
  50% {
    width: 100%; }
  90%,
  100% {
    width: 0; } }

/*------EFECT-----*/
@-webkit-keyframes animate023845 {
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn); } }

@keyframes animate023845 {
  to {
    -webkit-transform: rotate(1turn);
    transform: rotate(1turn); } }

.loaderk {
  width: 6em;
  height: 6em;
  font-size: 10px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .loaderk .face {
    position: absolute;
    border-radius: 50%;
    border-style: solid;
    -webkit-animation: animate023845 3s linear infinite;
    animation: animate023845 3s linear infinite; }
    .loaderk .face:nth-child(1) {
      width: 100%;
      height: 100%;
      color: gold;
      border-color: currentColor transparent transparent currentColor;
      border-width: 0.2em 0.2em 0em 0em;
      --deg: -45deg;
      -webkit-animation-direction: normal;
      animation-direction: normal; }
    .loaderk .face:nth-child(2) {
      width: 70%;
      height: 70%;
      color: lime;
      border-color: currentColor currentColor transparent transparent;
      border-width: 0.2em 0em 0em 0.2em;
      --deg: -135deg;
      animation-direction: reverse; }
    .loaderk .face .circle {
      position: absolute;
      width: 50%;
      height: 0.1em;
      top: 50%;
      left: 50%;
      background-color: transparent;
      -webkit-transform: rotate(var(--deg));
      -ms-transform: rotate(var(--deg));
      transform: rotate(var(--deg));
      -webkit-transform-origin: left;
      -ms-transform-origin: left;
      transform-origin: left; }
      .loaderk .face .circle::before {
        position: absolute;
        top: -0.5em;
        right: -0.5em;
        content: '';
        width: 1em;
        height: 1em;
        background-color: currentColor;
        border-radius: 50%;
        -webkit-box-shadow: 0 0 2em, 0 0 4em, 0 0 6em, 0 0 8em, 0 0 10em, 0 0 0 0.5em rgba(255, 255, 0, 0.1);
        box-shadow: 0 0 2em, 0 0 4em, 0 0 6em, 0 0 8em, 0 0 10em, 0 0 0 0.5em rgba(255, 255, 0, 0.1); }

h1 {
  color: white !important;
  font-size: 1rem !important;
  position: relative;
  top: -27px;
  margin: 0;
  padding: 0; }

.seccionNavBar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding-top: 50px;
  align-items: center; }
  .seccionNavBar .imgIcon {
    position: relative;
    width: 30px;
    bottom: 46px;
    left: 17px;
    z-index: -1; }

.ulNavMenu {
  display: flex;
  flex-wrap: wrap; }
  .ulNavMenu li {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0;
    padding: 0;
    margin-bottom: 3px;
    width: 155px; }
    .ulNavMenu li:active {
      transition: 0.2s;
      transform: scale(0.9); }
    .ulNavMenu li button {
      font-weight: 400;
      font-size: 1rem;
      width: 149px; }

.cssbuttons-io {
  position: relative;
  font-family: inherit;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.05em;
  border-radius: 0.8em;
  border: none;
  background: linear-gradient(to right, #8e2de2, #4a00e0);
  color: ghostwhite;
  width: 159px;
  height: 45px;
  overflow: hidden; }
  .cssbuttons-io:hover .text {
    transition: 0.5s;
    opacity: 0; }
  .cssbuttons-io:hover .imgIconsNav {
    transition: all 0.9s;
    position: absolute;
    top: 25%;
    right: 45%;
    transform: translate(50%); }
  .cssbuttons-io:hover::before {
    transform: translate3d(100%, 0, 0); }
  .cssbuttons-io span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
    display: inline-flex;
    align-items: center; }
  .cssbuttons-io::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 105%;
    z-index: 0;
    content: "";
    background: #000;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.9s cubic-bezier(0.3, 1, 0.8, 1); }
  .cssbuttons-io::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0; }
  .cssbuttons-io:active {
    transform: scale(0.95); }

.imgIconsNav {
  position: relative;
  padding-right: 5px;
  z-index: 10; }

.iconCatDiv {
  display: flex;
  margin: 0;
  padding: 0;
  height: 5px;
  padding-right: 71px;
  justify-content: flex-end;
  position: relative; }
  .iconCatDiv .globoCat {
    overflow: hidden;
    opacity: 0; }
  .iconCatDiv .globoCat2 {
    opacity: 1;
    overflow: visible;
    color: white;
    transition: 0.5s;
    position: absolute;
    background-color: #3d3d3d;
    border-radius: 100%;
    height: 32px;
    display: flex;
    width: 50px;
    align-items: center;
    justify-content: center;
    right: 122px;
    z-index: 5;
    bottom: 85px; }
    .iconCatDiv .globoCat2 .TextCat {
      font-size: 14px; }
    .iconCatDiv .globoCat2 ::after {
      content: "";
      position: absolute;
      background-color: #3d3d3d;
      top: 17px;
      left: 26px;
      width: 11px;
      height: 20px;
      z-index: -1;
      border-radius: 4px 104px; }
  .iconCatDiv .imgIconCat {
    position: relative;
    bottom: 90px;
    border-radius: 50%;
    width: 84px;
    height: 70px;
    z-index: 4; }

.notFoundGame {
  color: white;
  width: 100%;
  text-align: center; }

.iconNavP {
  padding-left: 20px; }
  .iconNavP:hover {
    transition: 0.5s;
    transform: scale(1.2); }

.ContenedorBarraBusqueda {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px; }

.barraBuscador {
  width: 42% !important;
  border: 1px solid #094f7d9c !important;
  font-weight: bolder !important; }
  .barraBuscador::placeholder {
    color: lime;
    font-weight: bold; }

/*-----------------------------------button desplazador*/
.desplazador {
  position: fixed;
  display: flex;
  cursor: pointer;
  right: 1.2rem;
  margin-top: 10px;
  bottom: 100px; }

.desplazador a {
  text-decoration: none;
  list-style: none;
  color: white;
  position: absolute;
  display: flex;
  cursor: pointer;
  right: -0.8rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50px;
  background: #0093ddb3;
  align-content: stretch;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  z-index: 1000; }

.desplazador a:hover {
  transition: 0.5s;
  transform: scale(1.1); }

.desplazador a:active {
  transition: 0.2s;
  transform: scale(0.8); }

::-webkit-scrollbar {
  height: 12px;
  width: 14px;
  background: #190a37;
  z-index: 12;
  overflow: visible; }

::-webkit-scrollbar-corner {
  background: #202020; }

::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: #434953;
  border-radius: 10px;
  z-index: 12;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  transition: background-color .32s ease-in-out;
  margin: 4px;
  min-height: 20px;
  min-width: 32px; }
  ::-webkit-scrollbar-thumb:hover {
    transition: 0.2s;
    transform: scale(1.01);
    background-color: #565d68; }

.contentCards {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 50px;
  margin-right: 50px; }

.card {
  margin-left: 50px;
  margin-right: 50px;
  width: 345px;
  margin-bottom: 10px;
  transition: all 0.5s ease-in-out;
  max-height: 8.5rem;
  background: linear-gradient(to right, #8e2de2, #4a00e0); }
  .card:active {
    transition: 0.2s;
    transform: scale(0.9); }
  .card .linkCard {
    text-decoration: none;
    list-style: none;
    color: black; }
    .card .linkCard .card-img {
      align-items: center;
      text-align: center; }
      .card .linkCard .card-img .imgFavic {
        margin-top: 5px;
        width: 20px; }
    .card .linkCard .card-body {
      text-align: center;
      color: ghostwhite !important; }
      .card .linkCard .card-body h3 {
        font-size: 1rem;
        font-weight: 650;
        letter-spacing: 0.5px; }
      .card .linkCard .card-body h4 {
        color: rgba(255, 255, 255, 0.75);
        margin-top: 10px;
        font-weight: 500;
        font-size: 0.75rem;
        line-height: 20px;
        letter-spacing: 1px; }
      .card .linkCard .card-body .textOculto {
        text-align: center;
        margin-top: 9px;
        font-size: 1rem;
        letter-spacing: 0.2px;
        line-height: 18px;
        font-weight: 500;
        overflow: visible;
        max-height: 0;
        transition: all 0.5s ease-in-out;
        opacity: 0;
        margin-bottom: 0;
        font-family: Ssans-serif; }
      .card .linkCard .card-body .desocultarText {
        overflow: visible;
        opacity: 1;
        max-height: 230px; }

.indexCard {
  max-height: 200rem; }
