.ulNavMenu{
    display: flex;
    justify-content: space-evenly;
}

.ulNavMenu li{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    flex-wrap: wrap;

}

.ulNavMenu li:hover{
    transition: 0.5s;
    transform: scale(1.2);

}

.ulNavMenu li:active{
    transition: 0.2s;
    transform: scale(0.9);
}

.ulNavMenu li div{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.ContenedorBarraBusqueda{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
   
}

.barraBuscador{

    width: 42% !important;
    border: 1px solid #094f7d9c !important;
}

.contentCards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;


  
}

.linkCard{
    text-decoration: none;
    list-style: none;
    color:black
}

.card{
    display: flex;
    width: 30%;
    margin-bottom: 10px;
    transition: all 0.5s ease-in-out;

}



.card:hover{
    transform: scale(1.1);
}

.card-img{
    align-items: center;
    text-align: center;
}

.card-body{
    text-align: center;
   
}

.card-body h3{
    font-size: 1.2rem;
}

.card-body h4{
    margin-top: 10px;
    font-size: 1rem;
}

.imgFavic{
    margin-top: 5px;
    width: 20px;
}


.textOculto {
    overflow: hidden;
    max-height: 0;
    transition: all 0.5s ease-in-out;
    opacity: 0;
}

/*Me permite animar el filtro para que se expanda y se contraiga*/
.desocultarText {
max-height: 200px;
display: inline;
opacity: 100;

}



