/*-----------------------------------button desplazador*/
.desplazador {
    position: fixed;
    display: flex;
    cursor: pointer;
    right: 1.2rem;
    margin-top: 10px;
    bottom: 100px;
    transition: 0.5s ease-in-out;
    opacity: 0;
    overflow: hidden;
  }
  
 
  .desplazador a {
    text-decoration: none;
    list-style: none;
    color: white;
    position: absolute;
    display: flex;
    cursor: pointer;
    right: -0.8rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50px;
    background: #0093ddb3;
    align-content: stretch;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    z-index: 1000;
    
  }
  
  .desplazador a:hover {
    transition: 0.5s;
    transform: scale(1.1);
  }
  
  .desplazador a:active {
    transition: 0.2s;
    transform: scale(0.8);
  }
  