$color_1: white;
$color_2: rgb(255, 255, 255);
$color_3: black;
$background-color_1: #212121;

/*........Reseteo---------*/
/*........FIN Reseteo---------*/
/*Me permite animar el filtro para que se expanda y se contraiga*/
html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
* {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
	&:before {
		-webkit-box-sizing: inherit;
		-moz-box-sizing: inherit;
		box-sizing: inherit;
	}
	&:after {
		-webkit-box-sizing: inherit;
		-moz-box-sizing: inherit;
		box-sizing: inherit;
	}
}
.bodyI {
	background: linear-gradient(15deg, #212121, #1d0844);
	background-repeat: repeat;
}
h1 {
	color: $color_1 !important;
	font-size: 1rem !important;
	position: relative;
	top: -27px;
	margin: 0;
	padding: 0;
}
.notFoundGame {

	color: white;
    width: 100%;
    text-align: center;
}
.iconNavP {
	padding-left: 20px;
	&:hover {
		transition: 0.5s;
		transform: scale(1.2);
	}
}



.seccionNavBar {
	display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-top: 50px;
	align-items: center;
	.imgIcon {
		position: relative;
		
		width: 30px;
		bottom: 46px;
		left: 17px;
		z-index: -1;
	}
	
}
.ulNavMenu {
	display: flex;
    
	
    flex-wrap: wrap;
	
	
	li {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		margin: 0;
		padding: 0;
		width: 155px;
		&:active {
			transition: 0.2s;
			transform: scale(0.9);
		}
		button {
			font-weight: 400;
			font-size: 1rem;
			width: 149px;
		}
	}
}

.ContenedorBarraBusqueda {
	display: flex;
	justify-content: center;
	padding-top: 20px;
	padding-bottom: 20px;
}
.barraBuscador {
	width: 42% !important;
	border: 1px solid #094f7d9c !important;
	font-weight: bolder !important;
	&::placeholder {
		color: $color_2;
		font-weight: bold;
	}
}
.contentCards {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-left: 60px;
	margin-right: 60px;
}
.linkCard {
	text-decoration: none;
	list-style: none;
	color: $color_3;
}
.card {
	display: flex;
	width: 27%;
	margin-bottom: 10px;
	transition: all 0.5s ease-in-out;
	max-height: 8.5rem;
	background: linear-gradient(to right, #8e2de2, #4a00e0);
	&:hover {
		max-height: 10000px;
		position: relative;
		z-index: 4;
	}
	&:active {
		transition: 0.2s;
		transform: scale(0.9);
	}
}
.card-img {
	align-items: center;
	text-align: center;
}
.card-body {
	text-align: center;
	color: $color_1 !important;
	h3 {
		font-size: 1rem;
		position: relative;
		z-index: 4;
	}
	h4 {
		margin-top: 10px;
		font-size: 0.9rem;
	}
}
.imgFavic {
	margin-top: 5px;
	width: 20px;
}
.textOculto {
	overflow: hidden;
	max-height: 0;
	transition: all 0.5s ease-in-out;
	opacity: 0;
	margin-bottom: 0;
}
.desocultarText {
	overflow: visible;
	opacity: 1;
	max-height: 230px;
	position: relative;
	z-index: 4;
}
